.active {
    background-color: rgb(160, 235, 160) !important;
}

.invite-user {
    cursor: pointer;
}

.loading-gif {
    position: absolute;
    top: 0;
    z-index: 10000;
    left: 0%;
    width: 100vw;
    height: 100vh;
    background: white;
    opacity: 0.5;
}

.loading-gif svg {
    position: relative;
    top: 34%;
    left: 6%;
}